<!DOCTYPE html>
<html>
<head>
<style>
body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    text-align:center;
}
button{
    padding:15px 40px;
    margin:15px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}
button:hover{background:#1d4ed8;}
</style>
</head>
<body>

<h1>🤖 AI Chatbot System</h1>

<a href="/chat_page"><button>💬 Start Chatbot</button></a><br>
<a href="/admin"><button>🔐 Admin Login</button></a><br>
<button onclick="alert('Stop server from terminal using CTRL+C')">❌ Exit</button>

</body>
</html>
